@font-face {
	font-family: 'Sava';
	src: url('../fonts/savaproregular.eot');
	src: url('../fonts/savaproregular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/savaproregular.woff') format('woff'),
		 url('../fonts/savaproregular.ttf') format('truetype'),
		 url('../fonts/savaproregular.svg#savaproregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'Sava';
        src: url('../fonts/savaproregular.svg#savaproregular') format('svg');
    }
}

@font-face {
	font-family: 'SavaBold';
	src: url('../fonts/savaprobold.eot');
	src: url('../fonts/savaprobold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/savaprobold.woff') format('woff'),
		 url('../fonts/savaprobold.ttf') format('truetype'),
		 url('../fonts/savaprobold.svg#savaprobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'SavaBold';
        src: url('../fonts/savaprobold.svg#savaprobold') format('svg');
    }
}

@font-face {
	font-family: 'StoneSans';
	src: url('../fonts/stonesansstdmedium.eot');
	src: url('../fonts/stonesansstdmedium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/stonesansstdmedium.woff') format('woff'),
		 url('../fonts/stonesansstdmedium.ttf') format('truetype'),
		 url('../fonts/stonesansstdmedium.svg#stonesansstdmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'StoneSans';
        src: url('../fonts/stonesansstdmedium.svg#stonesansstdmedium') format('svg');
    }
}

@font-face {
	font-family: 'StoneSansItalic';
	src: url('../fonts/stonesansstdmediumitalic.eot');
	src: url('../fonts/stonesansstdmediumitalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/stonesansstdmediumitalic.woff') format('woff'),
		 url('../fonts/stonesansstdmediumitalic.ttf') format('truetype'),
		 url('../fonts/stonesansstdmediumitalic.svg#stonesansstdmediumitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'StoneSansItalic';
        src: url('../fonts/stonesansstdmediumitalic.svg#stonesansstdmediumitalic') format('svg');
    }
}

@font-face {
	font-family: 'StoneSansBold';
	src: url('../fonts/stonesansstdsemibold.eot');
	src: url('../fonts/stonesansstdsemibold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/stonesansstdsemibold.woff') format('woff'),
		 url('../fonts/stonesansstdsemibold.ttf') format('truetype'),
		 url('../fonts/stonesansstdsemibold.svg#stonesansstdsemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'StoneSansBold';
        src: url('../fonts/stonesansstdsemibold.svg#stonesansstdsemibold') format('svg');
    }
}

@font-face {
	font-family: 'StoneSansBoldItalic';
	src: url('../fonts/stonesansstdsemibolditalic.eot');
	src: url('../fonts/stonesansstdsemibolditalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/stonesansstdsemibolditalic.woff') format('woff'),
		 url('../fonts/stonesansstdsemibolditalic.ttf') format('truetype'),
		 url('../fonts/stonesansstdsemibolditalic.svg#stonesansstdsemibolditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'StoneSansBoldItalic';
        src: url('../fonts/stonesansstdsemibolditalic.svg#stonesansstdsemibolditalic') format('svg');
    }
}
