/* Basic styles. */
body {
	font-family: Helvetica;
	text-align: center;
	margin: 0;
}

/* Page header. */
header {
	color: #500;
	background-color: #DDD;
	width: 100%;
	border-bottom: 1px solid black;
}
header h1 {
	margin: 0;
	padding-bottom: 5px;
}

/* Generic page section. */
section {
	margin: 10px auto;
	padding: 10px;
	display: inline-block;
	border: 1px solid black;
	background-color: #DDD;
}
section h2 {
	margin: 0;
	padding-bottom: 5px;
}
section fieldset {
	border: 2px solid #666;
	background-color: #FFF;
	display: inline-block;
}
section legend {
	text-align: left;
	font-weight: bold;
}
section fieldset:last-child {
	border: 2px dashed #A00;
}
section fieldset:last-child legend {
	color: #A00;
}
section textarea {
	width: 460px;
	height: 80px;
	display: block;
}
section input[type="button"] {
	margin: 4px auto 0;
}
section span {
	float: right;
	position: fixed;
	padding: 6px;
	color: green;
	font-weight: bold;
}
section span.error {
	color: red;
}

/* Designer page style. */
.designer section:last-child, .designer fieldset:last-child, .designer legend {
	display: none !important;
}
.designer textarea {
	width: 920px;
}
