body {
	font-family: Arial, Helvetica, sans-serif;
}
p, h1, h2, h3, h4, h5, h6, ul, ol, li {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}


.players { }

.player { }

.player-current {
	background-color: #e0ffe0;
}

.player h1 {
	font-size: 24px;
}

.player-actions {
	margin-top: 20px;
	clear: both;
}

.player-actions a.button {
	font-size: 16px;
	padding: 4px 15px;
	font-weight: bold;
}

.end-turn {
	width: 180px;
}

.cards {
	clear: both;
	margin: 10px 0;
	height: 400px;
}

.card {
	float: left;
	display: block;

	width: 180px;
	height: 350px;
	background: #cde;
	border: 1px solid #999;
	border-radius: 5px;
	padding: 10px;
	position: relative;
	margin: 0 8px 8px 0;
	text-align: left;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);

	/* Dont allow text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

/*
// Selection stuff
// .select-mode is on the body when selecting
// .selectable on elements that can be selected (only on when .select-mode)
// .not-selectable on elements that can not be selected (only on when .select-mode)
*/

/* The 'Choose Wisely' prompt */
.select-prompt {
	width: 400px;
	height: 20px;
	background: #ff0;
	border: 1px solid #999;
	border-radius: 5px;
	padding: 10px;
	position: relative;
	margin: 8px 8px 8px 0;
	text-align: center;
	font-weight: bold;

	display: none;
}

.select-mode .select-prompt {
	display: block;
}

.select-mode .player-actions {
	display: none;
}

.select-mode .card {
	background: #ccc;
}

.select-mode .card.selectable {
	background: #cde;
}

.select-mode .card.selectable:hover {
	background: darkred;
}

/****************/

.status-list {
	float: right;
}

.status {
	font-size: 9px;
	color: #C02B2B;
	text-align: right;
	font-weight: bold;
}


.card-log {
	margin-top: 70px;
	width: 100%;
	clear: both;
	overflow: auto;
	height: 152px;
}

.card-log-line {
	font-size: 9px;
	text-align: left;
	color: #444;
	clear: both;
}

.attacking {
	color: #262;
}

.attacked {
	color: #622;
}

.roll {
	font-size: 9px;
	float: right;
}


.card.destroyed {
	background: #ccc;
}

.card.disabled {
	background: #eee;
}

.card.targeted {
	box-shadow: 3px 3px 3px #c00;
}

/* card name */
.card h4 {
	font-size: 14px;
	margin-bottom: 10px;
}

/* stats */
.card h6 {
	font-size: 10px;
	font-weight: normal;
}

.card-stats {
	position: relative;
	clear: both;
}

.card-stats-left {
	width: 50%;
	left: 0%;
	top: 0px;
	position: absolute;
}

.card-stats-right {
	width: 50%;
	left: 50%;
	top: 0px;
	position: absolute;
}

.destroyed-text {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	top: 100px;
}

.card-actions {
	bottom: 5px;
	display: block;
	left: 4%;
	position: absolute;
	width: 92%;
}

/* Generic Buttons out of <a> elements */
a.button {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #000;
	background: #fff;
	cursor: pointer;
	border-radius: 3px;
	position: relative;
	font-size: 11px;
	text-align: center;
	display: block;

	/* Dont allow text selection */

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
a.button:hover {
	background: #ff0;
}
a.button:active {
	background: #cc0;
	top: 1px;
	left: 1px;
}

a.button .name {
	text-align: center;
}

a.button .right {
	font-size: 10px;
	position: absolute;
	right: 2px;
	top: 2px;
}

a.button .left {
	font-size: 10px;
	position: absolute;
	left: 2px;
	top: 2px;
}

.select-mode a.button,
a.button.disabled {
	border-color: #999;
	color: #999;
	background: #ccc;
	top: 0;
	left: 0;
	cursor: default;
}

/* Card Buttons overrides */

.card-actions a.button {
	width: 99%;
	padding: 2px 0 2px 0;
	margin-bottom: 2px;
	height: 15px;
}

/* The chosen button is the currently chosen action */
a.button.disabled.chosen {
	background-color: #ee0;
}

a.button.chosen {
	background-color: yellow;
}

/* Progress meters, used in a buttons */

.bar-inner {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background: #eee;
}
.bar-text {
	top: 3px;
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;
}

/* Tooltips */

.tooltip {
	position: absolute;
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #000;
	background: #ffc;
	border-radius: 3px;
	font-size: 11px;
	padding: 5px;
	width: 200px;
	z-index: 1;
}

/* Animation stuff */
/* Floaters. Generated by code */
.floater {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	position: absolute;
	text-align: center;
}

.shield {
	font-size: 36px;
	color: #210CBE;
}

.hull {
	font-size: 44px;
	color: #BE0C0C;
}

.message {
	font-size: 44px;
	color: #AD4F04;
}


.card.source {
	background: #cfc;
}

.card.target {
	background: #fcc;
}

</style>
