name: Build GameServer

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.3.1

      - name: Build NNOGameServer (Debug Configuration)
        run: msbuild src/Night/GameServer/NNOGameServer.sln /p:Configuration=Debug /p:Platform=Win32 /p:PlatformToolset=v143 /p:UseMultiToolTask=true /p:EnforceProcessCountAcrossBuilds=true /m /v:minimal /p:WarningLevel=0 /p:TreatWarningsAsErrors=false /p:RunCodeAnalysis=false
        continue-on-error: false

      - name: Upload GameServer.exe
        uses: actions/upload-artifact@v4
        with:
          name: GameServer-Debug
          path: src/Night/GameServer/Debug/GameServer.exe

