 - name: Build NNOGameServer (Debug Configuration)
        shell: cmd
        run: msbuild src/Night/GameServer/NNOGameServer.sln /p:Configuration=Debug /p:Platform=Win32 /p:PlatformToolset=v143 /p:UseMultiToolTask=true /p:EnforceProcessCountAcrossBuilds=true /m /v:normal /p:WarningLevel=0 /p:TreatWarningsAsErrors=false /p:RunCodeAnalysis=false
        continue-on-error: false
